@using Domain.Features.Cms

@model MenuItem

@{
	if (Model.IsVisible == false)
	{
		return;
	}

	var title = Model.Title.Trim();

	if (title == "-")
	{
		<li><hr class="dropdown-divider"></li>

		return;
	}

	var className = "nav-link";
	if (Model.ParentId is not null)
	{
		className = "dropdown-item";
	}

	if (Model.IsDisabled)
	{
		<li class="nav-item">
			<a class="@(className) disabled" aria-disabled="true">
				@(Html.Raw(value: title))
			</a>
		</li>

		return;
	}

	var target = "_self";
	if (Model.OpenUrlInNewWindow)
	{
		target = "_blank";
	}

	var navigationUrl = Model.NavigationUrl;
	if (string.IsNullOrWhiteSpace(value: navigationUrl))
	{
		navigationUrl = "#";
	}

	<li class="nav-item">
		<a href="@(Model.NavigationUrl)" class="@(className)" target="@(target)">
			@(Html.Raw(value: title))
		</a>
	</li>
}
